{# empty Twig template #}
<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Peregrin</title>



<link rel="stylesheet" type="text/css" href="{{asset('bundles/projectadminprincipal/stylesheets/style.css')}}" />


</head>



<body>
<div class="logo-intro"><img src="{{asset('bundles/projectadminprincipal/img/intro-logo.png')}}" width="250" height="250" alt="peregrin"></div>




<ul class="inner-intro">
<li class="left">
  <div class="image"> <a href="http://peregrin.cl/"><img src="{{asset('bundles/projectadminprincipal/img/intro-01.png')}}" width="511" height="260" alt="peregrin outdoor"></a></div>
  <h5>OUTDOOR</h5>
  <h6>Naturaleza, aire libre, aventura y deporte.</h6>
</li>

<li class="right">
<div class="image"><a href="home.html"><img src="{{asset('bundles/projectadminprincipal/img/intro-02.png')}}" width="511" height="260" alt="peregrin workwear"></a></div>

  <h5>WORKWEAR</h5>
  <h6>Comodidad, seguridad, tecnología y rendimiento</h6>
</li>
</ul>



</body>
</html>